<!-- forma uno para traer un estilos de una variables
  <div style=" background: {{config.fondo}}">-->
<div [ngStyle]="{'background': config.fondo,
                  'padding': '20px',
                  'border':'5px solid black',
                  'border-color': config.color
                
                }">
  <h1>
    Bienvenido a {{ title }}
  </h1>
  <p>{{ descripcion }}</p>

  <!-- menu con router link-->
  <nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
    &nbsp;
    <!-- link activate rubraya el elemnto cuando navego sobre el -->
    <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']">Zapatillas</a>
    &nbsp;
    <a [routerLink]="['/cursos']" [routerLinkActive]="['active']">Cursos</a>
    &nbsp;
    <a [routerLink]="['/videojuego']" [routerLinkActive]="['active']">Video Juegos</a>
    &nbsp;
    <a [routerLink]="['/externo']" [routerLinkActive]="['active']">Externo</a>
  </nav>
  <hr>

  <!--
  <button (click)="ocultarVideoJuegos(false)" *ngIf="mostrar_videojuegos"> ocultar videojuegos</button>
  <button (click)="ocultarVideoJuegos(true)" *ngIf="!mostrar_videojuegos"> Mostrar </button>
  <!--llamada al componente-->
  <!--<videojuego *ngIf="mostrar_videojuegos"></videojuego>
  <zapatillas></zapatillas>-->


  <!--esta etiqueta carga los componentes en las rutas especificadas-->
  <router-outlet></router-outlet>
  

</div>