<h2>{{ titulo }}</h2>
<p>
    Compra las zapatillas de las mejores marcas 
</p>
<ul>
    <li *ngFor="let marca of marcas"> {{ marca}} </li>
</ul>
<hr>
<ul>
    <li *ngFor="let item of zapatillas"  >
        <!-- tachar un elemento si no esta en stock-->
        <span [ngStyle]="{
            'text-decoration': !item.stook ? 'line-through': 'none'
        }">  
        {{ item.nombre }} -  <strong>{{ item.precio }}</strong>
        </span>

        <!--agregar una condicion a un elemnto y agregar propiedades-->
        <span *ngIf="item.precio<=80"
        [style.background]="item.precio <= 80 ? 'green': 'transparent'" >EN OFERTA!
    </span>
        
    </li>

    
</ul>

<p>el color de la mayoria de nuestras zapatillas es:</p>

<ul [ngSwitch]="color">
    <li *ngSwitchCase="'yellow'">
        el color predominante es el 
        <!--forma 1-->
        <span [ngStyle]="{'background': color}">
            amarillo
        </span>
    </li>
    <li *ngSwitchCase="'red'">
        <!--forma 2-->
        el color predominante es el 
        <span style="background: red;">
            rojo
        </span>
    </li>
    <li *ngSwitchCase="'orange'">
        el color predominante es el 
        <span [ngStyle]="{'background': color}">
            naranja
        </span>
    </li>
    <li *ngSwitchCase="'blue'">
        el color predominante es el 
        <span [ngStyle]="{'background': color}">
            azul
        </span>
    </li>


</ul>