<p>externo works!</p>

{{fecha | date: 'dd/MM/yy' }}

<br>

{{fecha | date: 'fullDate' | uppercase }}

{{ 'HOLA MUNDO' | lowercase}}
<br>
{{ 4| calculadora: 5}}

<hr>
<input type="text" [(ngModel)]="userId" (keyup.enter)="cargaruser()">
<div *ngIf="!user">
    cargando...

</div>
<div *ngIf="user">
    <img src="{{user.avatar}}">
    <h2>{{user.first_name + user.last_name}}</h2>

</div>

<div *ngIf="usuario_guardado">
    <h1>el usuario ha sido guardado</h1>
	{{usuario_guardado.name}}
</div>


<form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)">

	<p>
		<label for="name">Nombre</label>
		<input type="text" name="name" #name="ngModel" [(ngModel)]="new_user.name" required/>
		<span *ngIf="name.touched && !name.valid">
			El nombre no es valido
		</span>
	</p>

	<p>
		<label for="job">Trabajo</label>
		<input type="text" name="job" #job="ngModel" [(ngModel)]="new_user.job" required/>
		<span *ngIf="job.touched && !job.valid">
			El trabajo no es valido
		</span>
	</p>

	<input type="submit" value="Guardar usuario" [disabled]="!newUser.form.valid"> 

</form>
